*, ::after, ::before
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  height: 100vh;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: Helvetica, sans-serif;
}

body header
{
  height: 5rem;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: .3rem;
  text-align: center;
}

body main
{

  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main #cat
{
  position: relative;
  max-height: 30rem;
  max-width: 95%;
  border-radius: 1rem;
}

.glitch
{
  content: " ";
  position: absolute;
  width: 90%;
  height: 30rem;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: soft-light;
  overflow: hidden;
  z-index: 2;
}

#glitch-1
{
  background-color: hsl(0, 95%, 80%);
}

#glitch-2
{
  background-color: hsl(220, 95%, 70%);
}

body main #change-cat
{
  margin-top: 1rem;
  padding: .5rem;
  font-size: 1.25rem;
  background-color: hsl(0, 0%, 10%);
  border-radius: 0 0 1rem 1rem;
  border: solid hsl(0, 0%, 100%); 
  border-width: .2rem 0 0 0;
  box-shadow: .2rem .1rem hsl(0, 0%, 10%, .5);
}


body main #change-cat:hover
{
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
}

body main #change-cat:active
{
  background-color: hsl(0, 0%, 30%);
}

